<div *ngIf="logado then estaLogado else naoLogado"></div>

<ng-template #naoLogado>
  <app-nao-logado></app-nao-logado>
</ng-template>

<ng-template #estaLogado>

  <div *ngIf="permitido then autorizado else naoAutorizado"></div>

  <ng-template #autorizado>
    <div class="container">
      <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

        <div class="row">

          <div class="col-md-6">
            <label class="form-label" for="nome">NOME</label>
            <input class="form-control form-control-lg" onkeypress="return event.charCode >= 58 || event.charCode <= 47"
              pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" id="nome" formControlName="nome" placeholder="NOME"
              type="text" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">

            <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
              <div *ngIf="f.nome.errors.required">O campo nome é obrigatório</div>
              <div *ngIf="f.nome.errors.minlength">A nome deve conter no minimo 3 caracteres</div>
            </div>


          </div>

          <div class="col-md-6">
            <label class="form-label" for="email">EMAIL</label>
            <input class="form-control form-control-lg" formControlName="email" placeholder="Digite um email válido"
              type="email" id="email" (blur)="procurarPeloEmail()" [(ngModel)]="pegandoEmail"
              [ngClass]="{'is-invalid': (submitted && f.email.errors) || (emailNaoPermitido)}">

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">O campo email é obrigatório</div>
              <div *ngIf="f.email.errors.email">O email é inválido</div>
            </div>

            <div *ngIf="emailNaoPermitido" class="invalid-feedback">
              <div *ngIf="emailNaoPermitido">O email já está cadastrado</div>
            </div>

          </div>

        </div>

        <div class="espacamento"></div>

        <div class="row ">


          <div class="col-md-6">

            <div *ngIf="tipoTelefone == 2; then residencial"></div>

            <label class="form-label" for="telefone">CELULAR</label>
            <input class="form-control form-control-lg cel-sp-mask" placeholder="Ex: (00) 00000-0000" type="text"
              formControlName="celular"
              [ngClass]="{'is-invalid': submitted && f.celular.errors || submitted && telefoneInvalido}">

              <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
              <div *ngIf="f.celular.errors.minlength">Número do celular inválido</div>
            </div>

            <label class="form-label" for="telefone">COMERCIAL</label>
            <input class="form-control form-control-lg phone-ddd-mask" placeholder="Ex: (00) 0000-0000" type="text"
              formControlName="comercial"
              [ngClass]="{'is-invalid':  submitted && f.comercial.errors || submitted && telefoneInvalido}">

              <div *ngIf="submitted && f.comercial.errors" class="invalid-feedback">
              <div *ngIf="f.comercial.errors.minlength">Número do telefone comercial inválido</div>
            </div>


            <label class="form-label" for="telefone">RESIDENCIAL</label>
            <input class="form-control form-control-lg phone-ddd-mask"
              [ngClass]="{'is-invalid': submitted && f.residencial.errors || submitted && telefoneInvalido}"
              placeholder="Ex: (00) 0000-0000" type="text" formControlName="residencial">

              <div *ngIf="submitted && f.residencial.errors" class="invalid-feedback">
              <div *ngIf="f.residencial.errors.minlength">Número do telefone residencial inválido</div>
            </div>


            <div *ngIf="submitted && telefoneInvalido" class="invalid-feedback">
              <div *ngIf="telefoneInvalido">O campo telefone tem que ter no MÍNIMO 1(UM) telefone cadastrado
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <label class="form-label" for="cpf">CPF</label>
            <input class="form-control form-control-lg cpf-mask" formControlName="cpf" placeholder="Ex: 000.000.000-00"
              type="text" id="cpf" (blur)="procurarPeloCpf()" [(ngModel)]="pegandoCpf"
              [ngClass]="{'is-invalid': submitted && f.cpf.errors || cpfNaoPermitido}">

            <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
              <div *ngIf="f.cpf.errors.required">O campo cpf é obrigatório</div>
              <div *ngIf="f.cpf.errors.minlength">O campo cpf deve conter 11 caracteres</div>
            </div>

            <div *ngIf="cpfNaoPermitido" class="invalid-feedback">
              <div *ngIf="cpfNaoPermitido">O cpf já está cadastrado</div>
            </div>

          </div>

        </div>

        <div class="espacamento"></div>

        <div class="row">

          <div class="col-lg-3 col-sm">
            <label class="form-label" for="cep">CEP</label>
            <input type="text" class="form-control form-control-lg cep-mask" id="cep" (blur)="buscarEndereco()"
              placeholder="Ex: 00000-000" [(ngModel)]="pegandoCep" formControlName="cep"
              [ngClass]="{'is-invalid': (submitted && f.cep.errors) || cepInvalido }">

            <div *ngIf="(submitted && f.cep.errors)" class="invalid-feedback">
              <div *ngIf="f.cep.errors.required">O campo cep é obrigatório</div>
              <div *ngIf="f.cep.errors.minlength">O campo cep deve conter 8 caracteres</div>
            </div>

            <div *ngIf="cepInvalido" class="invalid-feedback">
              <div *ngIf="cepInvalido">O cep digitado é inválido</div>
            </div>

          </div>

          <div class="col-md-6 col-sm-6">
            <label class="form-label" for="cep">LOGRADOURO</label>
            <input type="text" class="form-control form-control-lg" readonly formControlName="logradouro">
          </div>


          <div class="col-md-6 col-sm-6 espacamento">
            <label class="form-label" for="cep">BAIRRO</label>
            <input type="text" class="form-control form-control-lg" readonly formControlName="bairro">
          </div>


          <div class="col-md-6 col-sm-6 espacamento">
            <label class="form-label" for="cep">CIDADE</label>
            <input type="text" class="form-control form-control-lg" readonly formControlName="cidade">
          </div>

        </div>

        <div class="espacamento"></div>

        <div class="row">

          <div class="col-lg-2 col-sm-2 col-3">
            <label class="form-label" for="cep">UF</label>
            <input type="text" class="form-control form-control-lg" readonly maxlength="2" formControlName="uf">
          </div>

          <div class="col-md-6 col-sm-6 col-12">
            <label class="form-label" for="cep">COMPLEMENTO</label>
            <input type="text" class="form-control form-control-lg" formControlName="complemento">
          </div>

        </div>

        <div class="espacamento"></div>



        <button class="btn btn-danger espacamento" type="reset">Limpar</button>



        <button class="btn btn-primary espacamento" type="submit" style="margin-left: 5%">Cadastrar</button>

      </form>
    </div>
  </ng-template>

  <ng-template #naoAutorizado>
    <app-nao-autorizado></app-nao-autorizado>
  </ng-template>




</ng-template>
