<div class="container">
  <div class="row">
    <h3>Você está na página principal, logue para ter acesso as outras funcionalidas</h3>
  </div>

  <br>

  <div class="row">

    <div class="col-6">
      <img src="https://img1.wsimg.com/isteam/stock/BxO78pD/:/rs=w:600,h:300,cg:true,m/cr=w:600,h:300">
      <p>Começamos após um dos executivos receber um convite para montar uma
        operação de TIC num cliente do segmento financeiro. De lá para cá foram inúmeros cases de sucesso, serviços
        prestados, tecnologias exploradas e gente feliz.
      </p>
    </div>

    <div class="col-6">
      <img
        src="https://img1.wsimg.com/isteam/stock/11252/:/cr=t:2.83%25,l:1.58%25,w:96.85%25,h:94.34%25/rs=w:600,h:300,cg:true,m">
      <p>Deixe sua operação de TI conosco. Somos especializados em serviços
        de outsourcing, integração de sistemas, RPA, desenvolvimento de App's e sistemas corporativos. Temos
        profissionais especializados em Data Science, Blockchain, RPA, Processos e Analise de Dados.</p>
    </div>

  </div>

</div>
