<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light corNav">
    <div class="container-fluid">
      <a class="navbar-brand" id="home" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">
          <div class="nav-link" *ngIf="tipoLogado == 1; then areaAdmin;"></div>
        </div>

        <div class="navbar-nav">
          <div class="nav-link" *ngIf="tipoLogado == 2; then areaComum"></div>
        </div>

        <ng-template #areaAdmin>
          <a class="nav-link corItemNav disabled">Administrador
          </a>
          <a class="nav-link" href="/clientes">Clientes</a>
          <a class="nav-link" href="/cadastro">Cadastrar</a>
        </ng-template>

        <ng-template #areaComum>
          <a class="nav-link corItemNav disabled">Usuario</a>
          <a class="nav-link" href="/clientes">Clientes</a>
        </ng-template>

        <div class="navbar-nav alinharADIreita">
          <div *ngIf="logado; then deslogar else logar">
          </div>
        </div>

        <ng-template #logar>
          <div *ngIf=" router.url === '/login' ; else mostrar"></div>
          <ng-template #mostrar>
            <button class="btn" routerLink="/login">
            <img src="../assets/img/icons/login.png" alt="Entrar"></button>
          </ng-template>
        </ng-template>


        <ng-template #deslogar>
          <button class="btn" (click)="logout()">
            <img src="../assets/img/icons/logout.png" alt="Sair">
          </button>
        </ng-template>

      </div>



    </div>
  </nav>

  <div style="padding: 1rem;"></div>

  <router-outlet></router-outlet>

</div>
