nav a {
  font-size: 2em;
}

.alinharADIreita{
  display: revert;
  text-align: end;
  width: 100%;
}

.corNav {
  background-color: #f0f3ff;
}

.corItemNav {
  color: rgb(31, 31, 31);
}


@media screen and (max-width: 991px) {
  .alinharADIreita {
    text-align: start;
    font-size: 2em;
  } .nav-link {
    padding: 0.3em 0;
  }
}
